<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="@yield('meta_keywords','Librairie, seconde main, occasion, café ')">
    <meta name="description" content="@yield('meta_description','Le site web des Recyclables')">
    <link rel="canonical" href="{{url()->current()}}"/>
    <script src="../components/cryptico-key-generator/index.js" ></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>
    <div x-data="{bits:4096,passphrase:''}">
    <cryptico-key-generator />
    </div>

</body>
</html>
